body {
   font-family: sans-serif;
   padding: 0 20px;
 }

 .container {
  max-width: 800px;
 }
 
 .section {
   display: flex;
   align-items: center;
   flex-direction: column;
   min-height: 350px;
   background-image: url("./images/v960.jpg");
   border-radius: 10px;
 }
 
 .search-field {
   margin: 20px 0;
   color: blue;
 }
 
 .current-city {
   font-size: 45px;
   font-weight: bold;
 }
 
 .current-time {
   color: gray;
   font-style: italic;
   padding-bottom: 10px;
 }
 
 .day-wrapper {
   border: 1px solid gray;
   border-radius: 10px;
   margin: 0px 5px;
   padding: 15px 5px;
 }
 
 .day-wrapper:hover {
   cursor: pointer;
   scale: 1.2;
   font-weight: bold;
   color: blueviolet;
 }
 .current-temp {
   padding: 0 5px;
   color: black;
   font-size: 40px;
 }

 .active {
  color: blue;
}

 .current-temp-list {
   display: flex;
 }
 
 .weather-info {
  color: grey;
  font-size: 12px;
 }

 .content,.fuature-weather{
  display: none;
 }